/* general.css
 general typography
 and colors
*/
body {
 font-family: 'Open Sans', sans-serif;
 background-color: #EBFCFB;
 color: s
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  color:
}
