/* layout.css */

/* with floats */

div.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
header {
  width: 100%;
}
article.page {
 width: 65%;
 padding: .5rem .5%;
}
.sidebar {
 width: 33%;
 background-color: #bbeeff;
 padding: .5rem .5%;
}
footer.main {
 width: 100%;
}
