/* navigation.css */
/* mobile first styles */

nav {
  border-bottom: .1rem solid;
  background-color: #DBFFFF;
  box-shadow: 0 .1rem .5rem rgb(0,0,0)

}
nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}
nav li a {
  text-decoration: none;
  display: block;
  background-color: #DBFFFF;
  padding: .5rem 1rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #14171E;
}
nav li a:hover {
  color: #efefef;
  background-color: teal;
}

/* tablet landscape backpoint */
@media only screen and (min-width: 911px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  nav ul {
    flex-direction: row;
    justify-content: flex-end;
  }
  nav li a {
    font-size: 1.3rem;
}
